<a href="https://colab.research.google.com/github/LisbetBartolano/Microcontroladores/blob/main/18_o1_2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
"""
Funciones predefinidas
"""
nombre = "Lisbet1"
print(nombre,type(nombre))
comprobar = isinstance(nombre, float)
#Strip
texto = " Tus ojos azules se reflejan en mi alma "

Lisbet1 <class 'str'>

In [ ]:
print(texto)
texto.strip()
texto.find("cen")
texto_2 = texto.replace("alma","espiritu")
print(texto_2)

 Tus ojos azules se reflejan en mi alma
 Tus ojos azules se reflejan en mi espiritu

In [ ]:
"""
Lista o arreglo
"""
a = (1,2) #tupla
b = [1,2] #Lista
print(f"{a[0]} {b[0]}")
b[0] = 3
print(f"{a[0]} {b[0]}")
         # -6 -5 -4 -3 -2 -1
         # 0   1  2  3  4  5
nombres = ["Ceci","Lucy","Arely","Pausi","Alejandro","Coffin"]
print(nombres[-3])
print(nombres[1:2])

1 1
1 3
Pausi
['Lucy']

In [ ]:
type(nombres[-3])
nombres.append("Lisbet1".)
print(nombres)
print(nombres[-1])

['Ceci', 'Lucy', 'Arely', 'Pausi', 'Alejandro', 'Coffin', 'Lisbet1']
Lisbet1

In [ ]:
#Corrimiento de lista
v=0
for i in nombres[2:4]:
  print(f" \n{i} indice {nombres.index(i)}")
  v +=1

Arely indice 2

Pausi indice 3

In [ ]:
#Listas Multidimensionales, listas dentro de otras listas
personas = [
            ["Valeria",22],
            ["Marcela",23]
            ]
type(personas[1][0])
print(personas[1][0])

Marcela

In [ ]:
for i in personas:
  print(i)
for i in personas:
  for j in i:
    if i.index(j) == 0:
      print(f"El nombre de la alumna es {j}")
    else :
      print(f"la edad de la alumna es : {j}")

['Valeria', 22]
['Marcela', 23]
El nombre de la alumna es Valeria
la edad de la alumna es : 22
El nombre de la alumna es Marcela
la edad de la alumna es : 23

In [ ]:
"""
Funciones y retornos para las listas
"""
numeros = [1, 4, 23, 5, 5, 1, 0]
print(numeros)
numeros.sort()
print(numeros)
numeros.insert(2, -4)
print(numeros)
numeros. remove(-4)
print(numeros)

[1, 4, 23, 5, 5, 1, 0]
[0, 1, 1, 4, 5, 5, 23]
[0, 1, -4, 1, 4, 5, 5, 23]
[0, 1, 1, 4, 5, 5, 23]

In [ ]:
"""
Diccionarios, almacenan un conjunto de datos, similares a las listas pero su indice es alfanumerico
"""
persona_1 = {"Nombre":"Lisbet",
           "edad":21,
           "signo":"Acuario"
           }
persona_2 = {"Nombre":"Alexis",
           "edad":23,
           "signo":"Toro"
           }           
personajes = [persona_1, persona_2]   
print(personajes[0]["edad"])

21

In [ ]:
for indice in personajes:
  print(f"el nombre del alumno es: {indice['Nombre']} y tiene {indice['edad']} años")

el nombre del alumno es: Lisbet y tiene 21 años
el nombre del alumno es: Alexis y tiene 23 años

In [1]:
from tkinder import TK
root = Tk[]

SyntaxError: ignored